:root {
  --white: #fff;

  --blue-300: #d0e6fbd9;
  --blue-400: #7eb0cc;
  --blue-500: #005b96;

  --yellow-500: #f8f41a;
  --yellow-800: #f9cd07;

  --orange-300: #de7c47;
  --orange-400: #eb493f;
  --orange-500: #f56742;

  --black: #333;
}

.light {
  --bg: var(--white);
  --title-color: var(--white);
  --text-color: var(--black);
  --primary-color: var(--blue-500);
  --primary-color-middle: var(--blue-400);
  --primary-color-light: var(--blue-300);
  --secondary-color: var(--yellow-800);
  --secondary-color-light: var(--yellow-500);
  --change-theme-color: var(--orange-300);
}

.dark {
  --bg: var(--black);
  --title-color: var(--white);
  --text-color: var(--white);
  --primary-color: var(--orange-500);
  --primary-color-middle: var(--orange-400);
  --primary-color-light: var(--orange-300);
  --secondary-color: var(--yellow-800);
  --secondary-color-light: var(--yellow-500);
  --change-theme-color: var(--blue-500);
}
