@import "./__variables.css";
@import "./general.css";
/*//////////////////////////////////////////////
GENERAL
//////////////////////////////////////////////*/

header,
main,
footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

/*//////////////////////////////////////////////    
MAIN
//////////////////////////////////////////////*/

.table-border {
  border: 0.2rem solid var(--primary-color-light);
  border-radius: 1.1rem;
  margin: 0 2.4rem;
  overflow: hidden;
  width: 40rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  align-items: center;
  display: grid;
  grid-template-columns: 0.6fr 1.2fr 1.2fr;
  height: 4.8rem;
  padding-right: 2rem;
  position: relative;
  transition: all 300ms;
}

tr:hover .circle-id {
  align-items: center;
  background-color: var(--secondary-color-light);
  display: flex;
  justify-content: center;
}

tbody tr:nth-child(odd) {
  background-color: var(--primary-color-light);
}

tbody tr:hover {
  height: 7.4rem;
  background-color: var(--secondary-color-light);
}

th,
td {
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: 0 2.4rem;
  width: 100%;
}

th div,
td div {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

th {
  text-align: start;
}

tbody tr:hover div {
  display: -webkit-box;
  overflow: unset;
  text-overflow: unset;
  word-break: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.circle-id {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  height: 2.4rem;
  justify-content: center;
  width: 2.4rem;
}

.circle-id,
.icon-container-sm a {
  font-weight: bold;
}

/*//////////////////////////////////////////////    
FOOTER
//////////////////////////////////////////////*/

footer {
  gap: 0.4rem;
}

/*//////////////////////////////////////////////
MEDIA QUERIES - SMARTPHONE VIEW
//////////////////////////////////////////////*/
.card-section {
  display: none;
  padding: 0 2rem;
}

.card-people {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  color: var(--title-link-color);
  display: flex;
  justify-self: center;
  padding: 1.2rem 2.4rem;
  width: 100%;
}

.card-people:hover {
  background-color: var(--primary-color-light);
  box-shadow: 0.5rem 0.5rem 0.8rem var(--text-color);
  transform: scale(1.1,1.1);
  transition: all 200ms;
}

.icon-container-sm {
  align-items: center;
  background-image: url("../img/favicon/favicon-address-book-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  color: var(--text-color);
  display: flex;
  height: 4.4rem;
  object-fit: cover;
  justify-content: center;
  margin-right: 1.2rem;
  width: 4.4rem;
}

.link-container {
  align-items: center;
  background-color: var(--primary-color-light);
  border-radius: 50%;
  color: var(--text-color);
  display: none;
  font-size: 3.2rem;
  font-weight: 900;
  height: 100%;
  justify-content: center;
  opacity: 0.75;
  width: 100%;
}

.card-people:hover .link-container {
  display: flex;
}

.card-firstname {
  font-weight: 100;
}

@media (max-width: 38em) {
  .table-border {
    display: none;
  }

  .card-section {
    display: grid;
    gap: 4.8rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 30em) {
  .card-section {
    gap: 4.4rem;
    grid-template-columns: 1fr;
  }

  .card-people {
    padding: 1.6rem;
    width: 75%;
  }
}