:root {

    /*Light*/
    --white: #fff;
    --accent-light-mode: rgb(249, 205, 7);
    --third-main-light-mode: #005B96;
    --hover-light-mode: rgb(248, 244, 26);
    --main-light-mode: rgb(208, 230, 251);
    --second-main-light-mode: rgb(97, 173, 244);

    /*Dark*/
    --lighten-black: #333;
    --accent-dark-mode: #F2C6B6;
    --second-main-dark-mode: #BF1F2C;
    --hover-dark-mode: #D99B84;
    --main-dark-mode: #B33646;

}