:root {

    /*Light*/
    --background-light-color: #fff;
    --circle-light-color: rgb(249, 205, 7);
    --dark-light-color: #005B96;
    --hover-light-color: rgb(248, 244, 26);
    --main-light-color: rgb(208, 230, 251);
    --text-light-color: #555;

    /*Dark*/
    --background-dark-color: #333;
    --circle-dark-color: #F2C6B6;
    --dark-dark-color: #BF1F2C;
    --hover-dark-color: #D99B84;
    --main-dark-color: #B33646;
    --text-dark-color: #fff;
}
/*//////////////////////////////////////////////
GENERAL
//////////////////////////////////////////////*/

* {
    box-sizing: 0;
    margin: 0;
    outline: none;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
}

.light-mode {
    background-color: var(--background-light-color);
    color: var(--text-light-color);
}

abbr {
    text-decoration: none;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

header, main, footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
}

/*//////////////////////////////////////////////
HEADER
//////////////////////////////////////////////*/

.title-container {
    align-items: center;
    background-color: var(--dark-light-color);
    border-radius: 4px;
    color: var(--background-light-color);
    display: flex;
    font-family: "Lobster", serif;
    height: 6.5rem;
    gap: 0.8rem;
    justify-content: center;
    margin: 1.2rem;
    width: 45rem; 
}

.icon-container {
    align-items: center;
    background-color: var(--text-dark-color);
    border-radius: 4px;
    font-size: 2.4rem;
    display: flex;
    height: 3.2rem;
    justify-content: center;
    width: 3.2rem;
}

.icon-container i {
    color: var(--dark-light-color);
}

/*//////////////////////////////////////////////    
MAIN
//////////////////////////////////////////////*/

.table-border {
    border: 2px solid var(--main-light-color);
    border-radius: 11px;
    margin: 0 2.4rem;
    overflow: hidden;
    width: 40rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 4.8rem;
    position: relative;
}

.tbody-light-mode tr:hover {
    height: 7.4rem;
    background-color: var(--hover-light-color) !important;
}


tr:hover .circle-id {
    background-color: var(--hover-light-color);
}


.tbody-light-mode tr:nth-child(odd) {
    background-color: var(--main-light-color);
}


th, td {
    align-items: center;
    display: flex;
    padding: 0 2.4rem;
}

th {
    text-align: start;
}

.circle-id {
    align-items: center;
    background-color: var(--circle-light-color);
    border-radius: 50%;
    display: flex;
    height: 2.4rem;
    justify-content: center;
    width: 2.4rem;
}


.circle-id,.icon-container-sm a {
    font-weight: bold;
}

/*//////////////////////////////////////////////    
FOOTER
//////////////////////////////////////////////*/

footer {
    gap: 0.4rem;
}

/*//////////////////////////////////////////////    
FOOTER
//////////////////////////////////////////////*/

aside {
    display: flex;
    justify-content: center;
    margin-top: 4.8rem;
}

aside button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 4.8rem;
}


/*//////////////////////////////////////////////    
GENERAL DARK MODE
//////////////////////////////////////////////*/

.dark-mode {
    background-color: var(--background-dark-color);
    color: var(--text-dark-color);
}

/*//////////////////////////////////////////////
HEADER DARK MODE
//////////////////////////////////////////////*/

.title-container-dark-mode {
    background-color: var(--dark-dark-color);
}

.icon-container-dark-mode i {
    color: var(--dark-dark-color);
}

/*//////////////////////////////////////////////
MAIN DARK MODE
//////////////////////////////////////////////*/

.table-border-dark-mode {
    border: 2px solid var(--main-dark-color);
}

.tbody-dark-mode tr:hover {
    background-color: var(--hover-dark-color) !important;
}

tr:hover .circle-id-dark-mode {
    background-color: var(--hover-dark-color) !important;
}
.tbody-dark-mode tr:nth-child(odd) {
    background-color: var(--main-dark-color);
}

.circle-id-dark-mode {
    background-color: var(--circle-dark-color);
    color: var(--background-dark-color);
}

.btn-dark {
    color: var(--background-light-color);
}

/*//////////////////////////////////////////////
MEDIA QUERIES - SMARTPHONE VIEW
//////////////////////////////////////////////*/
.card-section {
    display: none;
    padding: 0 2rem;
}

.card-people {
    align-items: center;
    background-color: var(--dark-light-color);
    border-radius: 8px;
    color: var(--text-dark-color);
    display: flex;
    justify-self: center;
    padding: 1.2rem 2.4rem;
    width: 85%;
}

.card-people:hover {
    background-color: var(--main-light-color);
}

.icon-container-sm {
    align-items: center;
    background-image: url('./img/favicon/favicon-address-book\ desktop.png');
    background-size: contain;
    border-radius: 50%;
    color: black;
    display: flex;
    height: 4.4rem;
    justify-content: center;
    margin-right: 1.2rem;
    width: 4.4rem;
}

.link-container {
    align-items: center;
    background-color: var(--dark-light-color);
    border-radius: 50%;
    color: var(--text-dark-color);
    display: none;
    font-size: 3.2rem;
    font-weight: 900;
    height: 100%;
    justify-content: center;
    opacity: 0.85;
    width: 100%;
}

.card-people:hover .link-container  {
    display: flex;
}

.card-firstname {
    font-weight:100;

}


@media (max-width: 38em) {
    .table-border {
        display: none;
    }

    .card-section {
        display: grid;
        gap: 4.8rem;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media (max-width: 30em) {
    .card-section {
        gap: 4.4rem;
        grid-template-columns: 1fr;
    }

    .card-people {
        padding: 1.6rem;
    }
}

/*//////////////////////////////////////////////
DARK MODE - SMARTPHONE VIEW
//////////////////////////////////////////////*/

.card-people-dark {
    background-color: var(--dark-dark-color);
}

.card-people-dark:hover {
    background-color: var(--main-dark-color) !important;
}

.link-container-dark {
    background-color: var(--dark-dark-color) !important;
}
