@import "../../css/__variables.css";
@import "../../css/general.css";

/*//////////////////////////////////////////////
HEADER
//////////////////////////////////////////////*/

h2 {
  font-size: 6.4rem;
  font-family: "Lobster", serif;
}

/*//////////////////////////////////////////////
MAIN - ADDRESS
//////////////////////////////////////////////*/
.card-container {
  background-color: var(--primary-color);
  border-radius: 1.6rem;
  color: var(--white);
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 2rem;
  margin: 3.2rem 26rem;
  padding: 3.2rem;
  max-width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

address {
  display: flex;
  gap: 5rem;
}

.personal-img {
  border-right: 0.2rem solid var(--text-color);
  border-bottom: 0.2rem solid var(--text-color);
  height: 80%;
  object-fit: cover;
  width: 100%;
}

address section div {
  align-items: center;
  background-color: var(--primary-color-middle);
  border-radius: 0.6rem;
  display: flex;
  gap: 2rem;
  height: 5.4rem;
  margin: 2rem 1.2rem 2rem 0;
  padding: 0 2.4rem 0 2.4rem;
  width: 100%;
}

address section div strong {
  display: inline-block;
  width: 6rem;
}

address section div a:link,
address section div a:visited {
  color: var(--white);
  cursor: pointer;
  font-size: 1.4rem;
  text-decoration: underline;
}

address section div a:hover,
address section div a:active {
  color: var(--secondary-color);
}

address section p {
  margin-bottom: 2.4rem;
}

ul {
  display: grid;
  row-gap: 3.5rem;
}

section h5 {
  font-family: "Lobster", serif;
  font-size: 2.4rem;
  margin: 2rem 0;
}

.bio-section {
  background-color: var(--bg);
  border: 0.2rem solid var(--text-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
  height: 100%;
  padding: 0 3.2rem 0 1rem;
}

.bio-section h5 {
  margin: 1.2rem 0 2.2rem 0;
}

.bio-section p {
  font-family: "Lobster", serif;
  margin-bottom: 2.4rem;
}

/*//////////////////////////////////////////////
MEDIA QUERIES
//////////////////////////////////////////////*/

@media (max-width: 90em) {
  .card-container {
    gap: 0;
    grid-template-columns: 1fr;
    padding-top: 0;
  }

  .personal-img {
    align-self: center;
    object-fit: fill;
    width: 40%;
    justify-self: center;
  }

  address section div {
    gap: 1rem;
  }

  address {
    justify-content: space-evenly;
  }

  .card-content div h2 {
    font-size: 7rem;
    text-align: center;
  }

  .bio-section {
    margin: 0 1rem;
  }
}

@media (max-width: 71em) {
  .card-container {
    margin: 3.2rem 13rem;
  }
  address {
    gap: 2.5rem;
  }
}

@media (max-width: 65em) {
  .card-container {
    margin: 3.2rem 6.5rem;
  }
  address {
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  address h5 {
    text-align: center;
  }

  .personal-img {
    width: 80%;
  }
}

@media (max-width: 35em) {
  .card-container {
    margin: 3.2rem 4rem;
  }

  address section div {
    margin: 2rem 0 2rem 0;
  }
  .personal-img {
    width: 85%;
  }

  .card-content div h2 {
    font-size: 3.3rem;
  }

  .bio-section {
    margin: 0;
  }

  .card-content div h2 {
    font-size: 4.4rem;
  }
}

@media (max-width: 28em) {
  .card-container {
    margin: 3.2rem 2rem;
  }

    .card-content div h2 {
    font-size: 3.4rem;
  }
}

@media (max-width: 25em) {
  .card-container {
    margin: 3.2rem 1rem;
    padding:0 1.5rem 3.2rem 1.5rem;
  }

  address section div {
    flex-direction: column;
    padding-top: 0.3rem;
  }

  address section div strong {
    display: inline-block;
    width: 3rem;
  }

  .personal-img {
    width: 100%;
  }
}
