@import '../__variables.css';
@import '../general.css';

/*//////////////////////////////////////////////
HEADER
//////////////////////////////////////////////*/

header {
    width: 100%;
}

header h1 {
    font-size: 4.4rem;
    font-family: 'Lobster', serif;
}

/*//////////////////////////////////////////////
MAIN - ADDRESS
//////////////////////////////////////////////*/
.card-container {
    background-color: var(--third-main-light-mode);
    border-radius: 16px;
    color: var(--white);
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.5fr 1fr;
    margin: 9.6rem 26rem;
    padding: 3.2rem;
    max-width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
}

address {
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    gap: 1.2rem;
    padding: 0 0 0 1.2rem ;
}

.personal-img {
    border-right: 2px solid var(--lighten-black);
    border-bottom: 2px solid var(--lighten-black);
    height: 85%;
    max-width: 100%;
}

address section div {
    align-items: center;
    background-color: var(--second-main-light-mode);
    border-radius: 6px;
    display: flex;
    height: 5.4rem;
    margin: 2rem 1.2rem 2rem 0;
    padding: 0 2.4rem 0 2.4rem;
    max-width: 100%;
}

address section div a:link,
address section div a:visited {
    color: var(--white);
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: 1.6rem;
    text-decoration: underline;
}

address section div a:hover,
address section div a:active {
    color: var(--third-main-light-mode);
    font-weight: bold;
}

address section p {

    margin-bottom: 2.4rem;
}

section h5 {
    font-family: 'Lobster', serif;
    font-size: 2.4rem;
    margin: 2rem 0;
}

.bio-section {
    background-color: var(--white);
    border: 2px solid var(--lighten-black);
    border-radius: 5px;
    color: var(--third-main-light-mode);
    display: grid;
    margin-right: 5.4rem;
    padding: 0 3.2rem 0 1rem;
}

.bio-section h5 {
    margin: 1.2rem 0 2.2rem 0;
}

.bio-section p {
    font-family: 'Lobster',serif;
    margin-bottom: 2.4rem;
}

/*//////////////////////////////////////////////
DARK MODE
//////////////////////////////////////////////*/
.card-container-dark {
    background-color: var(--second-main-dark-mode);
}
.personal-img-dark {
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}
.bg-address-a-dark {
    background-color: var(--hover-dark-mode);
}
.bg-address-a-dark a:hover,
.bg-address-a-dark a:hover {
    color: var(--second-main-dark-mode);
}

.bio-section-dark {
    background-color: var(--lighten-black);
    border: 2px solid var(--white);
    color: var(--hover-dark-mode);
}
/*//////////////////////////////////////////////
MEDIA QUERIES
//////////////////////////////////////////////*/

@media (max-width: 92em) {
    body {
        font-size: 2rem;
    }

    .personal-img {
        width: 50%;
    }
    header h1 {
        font-size: 9.6rem;
        text-align: center;
    }

    .card-container{
        display: flex;
        margin: 9.6rem 1.2rem;
    }

    .card-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card-body {
        row-gap: 6.4rem;
    }

    address {
        display: flex;
        justify-content: space-around;
    }

    address section div {
        margin: 2rem 1.2rem 2rem 0;
        padding: 0 3rem 0 1.2rem;
    }

    address section div a:link {
        font-size: 1.6rem;
    }

    section h5 {
        font-size: 3rem;
    }

    .bio-section {
        margin: 0;
        padding: 0 0 0 1rem;
    }

    .bio-section p {
        font-size: 1.8rem;
    }
}

@media (max-width: 78em) {
    .card-container{
        flex-direction: column;
    }

    .personal-img {
        align-self: center;
        width: 50%;
    }

}

@media (max-width: 40em) {
    header h1 {
        font-size: 5.4rem;
        margin-top: 2.4rem;
    }

    address {
        flex-direction: column;
    }
}

@media (max-width: 27em) {
    body {
        font-size: 1.2rem;
    }

    header h1 {
        font-size: 3.2rem;
        text-align: center;
    }

    address section div a:link {
        font-size: 1rem;
        margin-left: 1rem;
    }

    section h5 {
        font-size: 1.8rem;
    }
}